body {
    font: 'Poppins';
    color: black
    background-color white;
    height: 100vh;
    width: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    .left-wrapper{
        width: 50%;
        height: 50%;
        .nav-container {
        }
        .content-container
    }
        
    .right-wrapper {
        width: 50%;
        height: 50%;
    }
        img
}